<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
</head>

<body>
    
    <form action="api/imageForProcess/" method="GET">
        <h3>welcome to image process API</h3>
        <label for="target">Choose a target:</label>
        <select name="target" id="target">
            <option value="encenadaport">encenadaport</option>
            <option value="fjord">fjord</option>
            <option value="icelandwaterfall">icelandwaterfall</option>
            <option value="palmtunnel">palmtunnel</option>
            <option value="santamonica">santamonica</option>
            
        </select>
        <br><br> 
        <label for="width">Enter width for image:</label><br>

        <input type="text" id="width" name="width" value=""><br>
        <label for="height">height:</label><br>
        <input type="text" id="height" name="height" value=""><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
<script>

</script>

</html>